
.watches {
  padding: 1rem 0;
}

.watches__form {
  margin: 0 auto 1rem auto;
}

.watches__items {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

._hidden {
  display: none;
}

._visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}